In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
def spliteData(df_proData):
    """
    对数据df_proData,分割成训练和测试数据集
    并给训练数据加上标签和测试数据分割开
    """
    df_label = pd.read_csv('../data/public/train.csv')

    df_train = df_proData[df_proData['EID'].isin(df_label['EID'])]
    df_test = df_proData[~df_proData['EID'].isin(df_label['EID'])]
    
    
    df_train = pd.merge(df_train,df_label[df_label['EID'].isin(df_train['EID'])],how ='left',on=['EID'])
    
    return df_train,df_test

In [6]:
df_train = pd.read_csv('../data/public/train.csv')
df_branch = pd.read_csv('../data/public/3branch_1.csv')

In [4]:
df_train = df_branch[df_branch['EID'].isin(df_label['EID'])]
df_test = df_branch[~df_branch['EID'].isin(df_label['EID'])]

In [24]:
df_label.info()
df_label.sort_values(['EID'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153006 entries, 0 to 153005
Data columns (total 2 columns):
EID       153006 non-null int64
TARGET    153006 non-null int64
dtypes: int64(2)
memory usage: 2.3 MB

           EID  TARGET
100442       1       0
105270       7       0
90953       15       1
19029       17       0
52414       19       0
114776      23       0
28717       24       0
62133       25       1
23877       26       0
76412       31       0
138734      53       0
148260      56       0
23878       58       0
110131      66       0
133916      77       0
100443      83       0
114777      84       1
28718       86       0
119526      87       0
148261      88       0
66810       92       0
9569        93       0
148262      99       0
52415      100       0
119527     103       0
71585      104       0
33268      107       0
86149      112       1
62134      116       0
62135      120       0
...        ...     ...
76410   526285       0
105269  526286       0
66809   526299       0
143552  526300       0
23873   526303       1
71583   526307       0
148258  526311       1
23874   526312       0
129182  526316       0
33267   526319       0
90951   526321       0
138732  526325       0
23875   526326       0
23876   526327       0
86148   526328       0
138733  526330       0
71584   526331       0
76411   526332       0
114775  526333       0
100441  526336       0
119525  526339       0
28715   526340       0
52413   526345       0
38046   526349       0
95714   526350       0
47569   526354       0
90952   526355       0
4817    526358       0
148259  526364       1
28716   526372       0

[153006 rows x 2 columns]

In [19]:
df_train = pd.merge(df_train,df_label[df_label['EID'].isin(df_train['EID'])],how ='left',on=['EID'])

In [20]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11338 entries, 0 to 11337
Data columns (total 7 columns):
EID          11338 non-null int64
TYPECODE     11338 non-null object
IFHOME       11338 non-null object
B_REYEAR     11338 non-null object
B_ENDYEAR    11338 non-null object
TARGER       838 non-null float64
TARGET       11338 non-null int64
dtypes: float64(1), int64(2), object(4)
memory usage: 708.6+ KB

In [28]:
df_train.sort_values(['TARGET'],ascending=0)

,EID,TYPECODE,IFHOME,B_REYEAR,B_ENDYEAR,TARGER,TARGET
5669,16416,['br236963'],[1],[2005],[ 2010.],NaN,1
7222,152078,['br80301'],[1],[2004],[ 2018.],NaN,1
9732,159267,['br214047' 'br100047' 'br226786' 'br16675' 'b...,[1 1 1 1 1 1],[2002 2005 2003 2004 2005 2008],[ 2007. 2012. 2006. 2011. 2012. 2011.],NaN,1
9735,454185,['br158830' 'br162575' 'br19843' 'br171820'],[0 1 0 1],[2008 2008 2008 2008],[ 2011. 2010. 2011. 2010.],0.0,1
9744,126537,['br232043'],[1],[2005],[ 2013.],NaN,1
1787,398389,['br121119' 'br132319'],[1 1],[2013 2012],[ 2018. 2018.],NaN,1
4630,275499,['br200520'],[1],[2004],[ 2012.],NaN,1
4632,341051,['br22801'],[1],[2003],[ 2010.],NaN,1
7232,414241,['br133188' 'br19383'],[1 1],[2000 1998],[ 2013. 2007.],NaN,1
4641,46163,['br125397' 'br5989' 'br103125' 'br137638' 'br...,[1 1 1 1 1],[2011 2010 2015 2009 2013],[ 2018. 2014. 2018. 2018. 2014.],NaN,1
1767,300010,['br76440'],[0],[2008],[ 2012.],NaN,1
9768,257691,['br199388'],[1],[2004],[ 2018.],NaN,1
4645,46169,['br92732' 'br114062'],[1 1],[2012 2012],[ 2018. 2018.],NaN,1
4648,111723,['br51611'],[1],[2001],[ 2018.],NaN,1
1759,431056,['br4485'],[0],[2010],[ 2010.],NaN,1
1807,463969,['br19735' 'br202345'],[0 0],[2011 2010],[ 2013. 2015.],NaN,1
7219,348668,['br28802'],[0],[2005],[ 2013.],NaN,1
9779,454322,['br25055'],[0],[2002],[ 2018.],NaN,1
4655,406671,['br63729' 'br110491'],[0 0],[2006 2008],[ 2018. 2011.],NaN,1
1751,398277,['br230211'],[0],[2010],[ 2018.],NaN,1
1749,267189,['br108445'],[1],[2008],[ 2014.],NaN,1
4658,13464,['br6358' 'br227620'],[1 0],[2005 2006],[ 2006. 2006.],NaN,1
1747,37809,['br220792' 'br15271' 'br18350'],[1 0 1],[2007 2006 2008],[ 2008. 2008. 2010.],NaN,1
9785,192189,['br205172'],[1],[2003],[ 2010.],NaN,1
9791,61137,['br47164'],[1],[2005],[ 2014.],NaN,1
1737,201619,['br122208' 'br34494' 'br198808'],[0 1 0],[2010 2014 2010],[ 2011. 2018. 2011.],NaN,1
9793,192214,['br38676'],[0],[2012],[ 2018.],NaN,1
1734,5003,['br223087'],[1],[2006],[ 2008.],NaN,1
7257,53854,['br145844'],[0],[2011],[ 2018.],NaN,1
4606,13280,['br16949'],[1],[2006],[ 2008.],NaN,1
...,...,...,...,...,...,...,...
4000,404699,['br140071'],[0],[2014],[ 2018.],NaN,0
4001,109790,['br199565'],[0],[2007],[ 2012.],NaN,0
4002,503006,['br207957'],[1],[2014],[ 2018.],NaN,0
4003,175329,['br153589' 'br6309' 'br158558' 'br224695' 'br...,[1 1 1 1 1 1 1],[2013 2011 2014 2013 2011 2009 2013],[ 2018. 2012. 2018. 2014. 2018. 2015. 20...,NaN,0
4005,77040,['br61362' 'br188496'],[0 0],[2015 2015],[ 2018. 2018.],NaN,0
4006,208114,['br226689'],[0],[2015],[ 2018.],NaN,0
4007,175341,['br50702'],[1],[2009],[ 2018.],NaN,0
4008,208117,['br17609'],[1],[2004],[ 2012.],NaN,0
4009,11508,['br145650'],[1],[2007],[ 2007.],NaN,0
3990,11460,['br134048'],[0],[2008],[ 2012.],NaN,0
3989,339139,['br187579' 'br38979'],[0 1],[2011 2004],[ 2013. 2008.],NaN,0
3988,502978,['br206412'],[1],[2006],[ 2018.],NaN,0
3977,502957,['br73700'],[1],[2006],[ 2007.],NaN,0
3968,502924,['br196349'],[1],[2005],[ 2012.],0.0,0
3969,142484,['br155533'],[1],[1998],[ 2006.],NaN,0
3970,502934,['br76955' 'br19837' 'br110707'],[0 1 1],[2009 2003 2002],[ 2018. 2018. 2009.],0.0,0
3971,109720,['br211106' 'br211831' 'br3807' 'br156198' 'br...,[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1],[2014 2014 2010 2013 2015 2014 2013 2010 2013 ...,[ 2018. 2018. 2018. 2018. 2018. 2018. 20...,NaN,0
3974,339108,['br227228'],[0],[2014],[ 2018.],NaN,0
3975,208036,['br227479'],[1],[2015],[ 2018.],NaN,0
3976,142508,['br103679'],[0],[2001],[ 2018.],NaN,0
3979,502959,['br84454'],[1],[2013],[ 2018.],NaN,0
3987,44224,['br186575' 'br219928' 'br135901' 'br54415'],[0 0 0 0],[2005 2013 2010 2011],[ 2012. 2018. 2018. 2013.],NaN,0
3980,470192,['br215764' 'br14555' 'br75900' 'br108956'],[0 0 0 0],[2013 2003 2010 2001],[ 2018. 2018. 2018. 2018.],NaN,0
3981,76978,['br150703' 'br41088' 'br101351' 'br227643' 'b...,[0 0 0 1 0],[2012 2013 2005 2008 2013],[ 2018. 2018. 2018. 2010. 2018.],NaN,0
3982,240820,['br60218'],[1],[2004],[ 2011.],NaN,0
3983,502964,['br202928'],[0],[2014],[ 2018.],NaN,0
3984,76982,['br151587'],[1],[2000],[ 2008.],NaN,0
3985,437429,['br145302'],[0],[2010],[ 2018.],NaN,0
3986,240825,['br3581' 'br215236' 'br138095' 'br79155' 'br8...,[0 0 1 1 1],[2014 2014 2010 2009 2009],[ 2018. 2015. 2012. 2014. 2018.],NaN,0
11337,327677,['br182340'],[1],[2011],[ 2018.],NaN,0

In [33]:
df_label[df_label['EID']==46163]

          EID  TARGET
129602  46163       1