In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pro_data

# 权利数据5right.csv提取特征
    1. 企业拥有权利的个数，RIGHT_CNT
    2. 企业拥有权利类型的个数，RIGHT_TYPE_CNT
    3. 企业拥有权利类型的比例，RIGHT_TYPE_RATE
    4. 第一个获得的权利的类型，RIGHT_FIRST_TYPECODE
    5. 最后一个获得的权利的类型，RIGHT_END_TYPECODE
    6. 获得最多的权利的类型，RIGHT_TYPECODE_MUCHID

    7. 第一个权利申请日期, RIGHT_FIRST_ASK_TIME
    8. 第一个权利富于日期, RIGHT_FIRST_FB_TIME
    9. 最后一个权利申请日期, RIGHT_END_ASK_TIME
    10. 最后一个权利富于日期, RIGHT_END_FB_TIME
    
    11. 第一个权利申请日期和权利富于日期的差值，RIGHT_FIRST_ASK_FB_DIFF
    12. 最后一个权利申请日期和权利富于日期的差值，RIGHT_END_ASK_FB_DIFF
    13. 第一个和最后一个权利申请日期的差值，RIGHT_FIRST_END_ASK_DIFF
    14. 第一个和最后一个权利富于日期的差值，RIGHT_FIRST_END_FB_DIFF
    15. 第一个申请和最后一个权利富于日期的差值，RIGHT_FIRST_ASK_END_FB_DIFF
    
    16. 第一个权利的申请日期和公司注册时间的差值，RIGHT_FIRST_ASK_RGYEAR_DIFF
    17. 第一个权利的富于日期和公司注册时间的差值，RIGHT_FIRST_FB_RGYEAR_DIFF
    18. 最后一个权利的申请日期和公司注册时间的差值，RIGHT_END_ASK_RGYEAR_DIFF
    19. 最后一个权利的富于日期和公司注册时间的差值，RIGHT_END_FB_RGYEAR_DIFF
    
    20. 第一个权利的申请日期和公司第一个变动时间的差值，RIGHT_FIRST_ASK_FIRST_CHANGE_DIFF
    21. 第一个权利的富于日期和公司第一个变动时间的差值，RIGHT_FIRST_FB_FIRST_CHANGE_DIFF
    22. 最后一个权利的申请日期和公司第一个变动时间的差值，RIGHT_END_ASK_FIRST_CHANGE_DIFF
    23. 最后一个权利的富于日期和公司第一个变动时间的差值，RIGHT_END_FB_FIRST_CHANGE_DIFF
    
    24. 第一个权利的申请日期和公司最后一个变动时间的差值，RIGHT_FIRST_ASK_END_CHANGE_DIFF
    25. 第一个权利的富于日期和公司最后一个变动时间的差值，RIGHT_FIRST_FB_END_CHANGE_DIFF
    26. 最后一个权利的申请日期和公司最后一个变动时间的差值，RIGHT_END_ASK_END_CHANGE_DIFF
    27. 最后一个权利的富于日期和公司最后一个变动时间的差值，RIGHT_END_FB_END_CHANGE_DIFF
    
    ---------------------------------------------------------------------------------------------------
    28. 企业权利的个数占所有权利个数平均值的比例。RIGHT_CNT_ALL_RATE
    
    29. 企业对应的大类HY的平均权利的个数，RIGHT_HY_CNT_AVG
    30. 企业对应大类HY的平均权利个数占所有权利平均个数的比例，RIGHT_HY_CNT_ALL_RATE
    31. 企业权利的个数占其对应的大类HY的平均值的比例，RIGHT_CNT_HY_RATE

In [2]:
df_all = pd.read_csv("../data/alldata/df_data1234.csv")
df_right = pd.read_csv("../data/public/5right.csv")

In [3]:
df_all.info()
df_all.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255130 entries, 0 to 255129
Columns: 107 entries, EID to TZ_BTBL_HY_AVG_RATE
dtypes: float64(78), int64(20), object(9)
memory usage: 208.3+ MB

,EID,RGYEAR,HY,ZCZB,ETYPE,MPNUM,INUM,FINZB,FSTINUM,TZINUM,...,TZ_HY_CNT_AVG,TZ_HY_CNT_ALL_AVG_RATE,TZ_CLOSE_HY_CNT_AVG,TZ_HY_CLOSE_CNT_ALL_AVG_RATE,TZ_OPEN_HY_CNT_AVG,TZ_HY_OPEN_CNT_ALL_AVG_RATE,TZ_HY_BTBL_AVG,TZ_HY_BTBL_ALL_AVG_RATE,TZ_CNT_HY_AVG_RATE,TZ_BTBL_HY_AVG_RATE
0,32741,2000-01,87,100.0,7,1.0,3.0,0.0,2.0,0.0,...,0.084015,0.386036,0.010065,0.315573,0.073950,0.398135,0.025430,0.609528,47.610799,12.780027
1,294220,2003-01,51,50.0,7,0.0,3.0,0.0,0.0,0.0,...,0.127995,0.588121,0.027904,0.874915,0.100091,0.538875,0.022578,0.541157,0.000000,0.000000
2,10526,2013-01,75,100.0,7,1.0,2.0,0.0,1.0,0.0,...,0.156538,0.719274,0.024424,0.765791,0.132115,0.711286,0.043025,1.031240,0.000000,0.000000
3,237382,2014-01,75,9900.0,7,3.0,4.0,0.0,2.0,0.0,...,0.156538,0.719274,0.024424,0.765791,0.132115,0.711286,0.043025,1.031240,0.000000,0.000000
4,473535,2008-01,75,50.0,7,3.0,5.0,0.0,1.0,0.0,...,0.156538,0.719274,0.024424,0.765791,0.132115,0.711286,0.043025,1.031240,0.000000,0.000000

In [4]:
df_right.info()
df_right.head()

df_right = df_right.sort_values(['ASKDATE','FBDATE'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1118501 entries, 0 to 1118500
Data columns (total 5 columns):
EID          1118501 non-null int64
RIGHTTYPE    1118501 non-null int64
TYPECODE     1118501 non-null object
ASKDATE      1118501 non-null object
FBDATE       1007478 non-null object
dtypes: int64(2), object(3)
memory usage: 42.7+ MB

In [5]:
# set(df_right['RIGHTTYPE'])
def settime(x):
    y = int(x[:x.find('-')])
    m = int(x[x.find('-')+1:])
    m+=2
    y = y+int(m/12)
    if m%12 == 0:
        m = 12
    else:
        m = m%12
    
    if(m<10):
        return str(y)+"-0"+str(m)
    
    return str(y)+"-"+str(m)


df_right.loc[df_right[df_right['RIGHTTYPE']==11][df_right['FBDATE'].isnull()].index,'FBDATE'] = df_right[df_right['RIGHTTYPE']==11][df_right['FBDATE'].isnull()]['ASKDATE']

df_right.loc[df_right[df_right['RIGHTTYPE']==40][df_right['FBDATE'].isnull()].index,'FBDATE'] = df_right[df_right['RIGHTTYPE']==40][df_right['FBDATE'].isnull()]['ASKDATE'].apply(settime)
df_right.loc[df_right[df_right['RIGHTTYPE']==50][df_right['FBDATE'].isnull()].index,'FBDATE'] = df_right[df_right['RIGHTTYPE']==50][df_right['FBDATE'].isnull()]['ASKDATE'].apply(settime)

/home/xiaoran/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:18: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/home/xiaoran/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:20: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/home/xiaoran/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:21: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [6]:
EIDS = set(df_right['EID'])

len(EIDS)

73005

In [8]:
columns = df_right.columns
df_xright = pd.DataFrame(columns=columns)

print(columns)

Index(['EID', 'RIGHTTYPE', 'TYPECODE', 'ASKDATE', 'FBDATE'], dtype='object')

In [9]:
k = 0
for EID in EIDS:
    if k%3000 == 0:
        print('第%d次处理--------->',k)
    k+=1
    tmp = df_right[df_right['EID'] == EID]
    row = [EID,tmp['RIGHTTYPE'].values,tmp['TYPECODE'].values,tmp['ASKDATE'].values,tmp['FBDATE'].values]
    
    df_xright = df_xright.append(pd.Series(row,columns),ignore_index=True)

第%d次处理---------> 0
第%d次处理---------> 3000
第%d次处理---------> 6000
第%d次处理---------> 9000
第%d次处理---------> 12000
第%d次处理---------> 15000
第%d次处理---------> 18000
第%d次处理---------> 21000
第%d次处理---------> 24000
第%d次处理---------> 27000
第%d次处理---------> 30000
第%d次处理---------> 33000
第%d次处理---------> 36000
第%d次处理---------> 39000
第%d次处理---------> 42000
第%d次处理---------> 45000
第%d次处理---------> 48000
第%d次处理---------> 51000
第%d次处理---------> 54000
第%d次处理---------> 57000
第%d次处理---------> 60000
第%d次处理---------> 63000
第%d次处理---------> 66000
第%d次处理---------> 69000
第%d次处理---------> 72000

In [10]:
df_xright.info()
df_xright.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73005 entries, 0 to 73004
Data columns (total 5 columns):
EID          73005 non-null float64
RIGHTTYPE    73005 non-null object
TYPECODE     73005 non-null object
ASKDATE      73005 non-null object
FBDATE       73005 non-null object
dtypes: float64(1), object(4)
memory usage: 2.8+ MB

,EID,RIGHTTYPE,TYPECODE,ASKDATE,FBDATE
0,262148.0,"[40, 40, 40]","[mno128550, mno625051, mno439189]","[2004-10, 2004-10, 2004-10]","[2007-11, 2007-12, 2007-12]"
1,262154.0,"[40, 40, 40]","[mno109684, mno92335, mno43906]","[1999-06, 2000-06, 2000-06]","[2000-10, 2001-07, 2011-10]"
2,11.0,"[50, 50, 50, 50, 50, 50, 50, 50, 50, 50, 40, 5...","[cno376354, cno376353, cno376355, cno378483, c...","[2006-04, 2006-04, 2006-04, 2007-01, 2007-05, ...","[2001-02, 2002-01, 2005-01, 2005-10, 2007-01, ..."
3,524299.0,[60],[GXB33829249],[2013-01],[2013-01]
4,262157.0,"[40, 60, 60, 60]","[mno228558, 48745236, 48745231, 48745235]","[2009-05, 2014-09, 2014-09, 2014-09]","[2011-04, 2014-09, 2014-09, 2014-09]"

In [11]:
k = len(set(df_right['RIGHTTYPE']))
print(k)

set(df_right['RIGHTTYPE'])

7

{11, 12, 20, 30, 40, 50, 60}

In [12]:
def getTZCnt(x):
    return len(x)
    
df_xright['RIGHT_CNT'] = df_xright['RIGHTTYPE'].apply(getTZCnt)

def cnt(x):
    return len(set(x))

df_xright['RIGHT_TYPE_CNT'] = df_xright['RIGHTTYPE'].apply(getTZCnt)

df_xright['RIGHT_TYPE_RATE'] = df_xright['RIGHT_TYPE_CNT'] / k

In [13]:
def getFAlterno(x):
    return x[0]

def getEAlterno(x):
    return x[-1]

def getMAlterno(x):
    x = list(x)
    x.sort()
    m = x[0]
    
    mk = 0
    mm = x[0]
    
    k = 1
    n = len(x)
    
    for i in range(1,n):
        if x[i] == x[i-1]:
            k+=1
        else:
            if k>mk:
                mk = k
                mm = x[i-1]
            
            k = 1
    return mm

df_xright['RIGHT_FIRST_TYPECODE'] = df_xright['RIGHTTYPE'].apply(getFAlterno)
df_xright['RIGHT_END_TYPECODE'] = df_xright['RIGHTTYPE'].apply(getEAlterno)
df_xright['RIGHT_TYPECODE_MUCHID'] = df_xright['RIGHTTYPE'].apply(getMAlterno)

In [14]:
df_xright['RIGHT_FIRST_ASK_TIME'] = df_xright['ASKDATE'].apply(lambda x: x[0])
df_xright['RIGHT_FIRST_FB_TIME'] = df_xright['FBDATE'].apply(lambda x: x[0])

df_xright['RIGHT_END_ASK_TIME'] = df_xright['ASKDATE'].apply(lambda x: x[-1])
df_xright['RIGHT_END_FB_TIME'] = df_xright['FBDATE'].apply(lambda x: x[-1])

In [15]:
df_xright.to_csv('../data/public/5right_1.csv',index=False,index_label=False)
df_xright.columns

Index(['EID', 'RIGHTTYPE', 'TYPECODE', 'ASKDATE', 'FBDATE', 'RIGHT_CNT',
       'RIGHT_TYPE_CNT', 'RIGHT_TYPE_RATE', 'RIGHT_FIRST_TYPECODE',
       'RIGHT_END_TYPECODE', 'RIGHT_TYPECODE_MUCHID', 'RIGHT_FIRST_ASK_TIME',
       'RIGHT_FIRST_FB_TIME', 'RIGHT_END_ASK_TIME', 'RIGHT_END_FB_TIME'],
      dtype='object')

In [16]:
df_all = pd.merge(df_all,df_xright[['EID', 'RIGHT_CNT','RIGHT_TYPE_CNT', 'RIGHT_TYPE_RATE', 'RIGHT_FIRST_TYPECODE',
                                'RIGHT_END_TYPECODE', 'RIGHT_TYPECODE_MUCHID', 'RIGHT_FIRST_ASK_TIME',
                                'RIGHT_FIRST_FB_TIME', 'RIGHT_END_ASK_TIME', 'RIGHT_END_FB_TIME']],how='left',on=['EID'])

In [17]:
# 空值填充，根据HY的类别的平均值或者众数进行填充
# ['RIGHT_CNT','RIGHT_TYPE_CNT', 'RIGHT_TYPE_RATE']使用同一个大类别的均值进行填充
# ['RIGHT_FIRST_TYPECODE','RIGHT_END_TYPECODE', 'RIGHT_TYPECODE_MUCHID', 'RIGHT_FIRST_ASK_TIME',
#     'RIGHT_FIRST_FB_TIME', 'RIGHT_END_ASK_TIME', 'RIGHT_END_FB_TIME']使用同一个大类别的众数进行填充

HYLIST = set(df_all['HY'])
print(HYLIST)

meanlist = ['RIGHT_CNT','RIGHT_TYPE_CNT', 'RIGHT_TYPE_RATE']
modelist = ['RIGHT_FIRST_TYPECODE','RIGHT_END_TYPECODE', 'RIGHT_TYPECODE_MUCHID', 'RIGHT_FIRST_ASK_TIME',
            'RIGHT_FIRST_FB_TIME', 'RIGHT_END_ASK_TIME', 'RIGHT_END_FB_TIME']

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 93}

In [18]:
for HY in HYLIST:
    # print(df_train['HY'].value_counts())
    for d in meanlist:
        df_all.loc[df_all[df_all[d].isnull()][df_all['HY']==HY].index,d] = df_all[df_all['HY']==HY][d].mean()
    
    for c in modelist:
        if(len(df_all[df_all['HY']==HY][c].value_counts().index)==0): continue
        df_all.loc[df_all[df_all[c].isnull()][df_all['HY']==HY].index,c] = df_all[df_all['HY']==HY][c].value_counts().index[0]

/home/xiaoran/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/home/xiaoran/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [19]:
for d in meanlist:
    df_all.loc[df_all[d].isnull(),d] = 0

for c in modelist:
    df_all.loc[df_all[c].isnull(),c] = df_all[c].value_counts().index[0]

In [20]:
def timeDiff(x):
    a = x[:x.find(':')]
    b = x[x.find(':')+1:]
    y = int(a[:a.find('-')]) - int(b[:b.find('-')])
    m = int(a[a.find('-')+1:]) - int(b[b.find('-')+1:])
    return y * 12 + m

In [21]:
df_all['RIGHT_FIRST_ASK_FB_DIFF'] = (df_all['RIGHT_FIRST_FB_TIME'] + ':' + df_all['RIGHT_FIRST_ASK_TIME']).apply(timeDiff)
df_all['RIGHT_END_ASK_FB_DIFF'] = (df_all['RIGHT_END_FB_TIME'] + ':' + df_all['RIGHT_END_ASK_TIME']).apply(timeDiff)
df_all['RIGHT_FIRST_END_ASK_DIFF'] = (df_all['RIGHT_END_ASK_TIME'] + ':' + df_all['RIGHT_FIRST_ASK_TIME']).apply(timeDiff)
df_all['RIGHT_FIRST_END_FB_DIFF'] = (df_all['RIGHT_END_FB_TIME'] + ':' + df_all['RIGHT_FIRST_FB_TIME']).apply(timeDiff)
df_all['RIGHT_FIRST_ASK_END_FB_DIFF'] = (df_all['RIGHT_END_FB_TIME'] + ':' + df_all['RIGHT_FIRST_ASK_TIME']).apply(timeDiff)

In [22]:
df_all['RIGHT_FIRST_ASK_RGYEAR_DIFF'] = (df_all['RIGHT_FIRST_ASK_TIME'] + ':' + df_all['RGYEAR']).apply(timeDiff)
df_all['RIGHT_FIRST_FB_RGYEAR_DIFF'] = (df_all['RIGHT_FIRST_FB_TIME'] + ':' + df_all['RGYEAR']).apply(timeDiff)

df_all['RIGHT_END_ASK_RGYEAR_DIFF'] = (df_all['RIGHT_END_ASK_TIME'] + ':' + df_all['RGYEAR']).apply(timeDiff)
df_all['RIGHT_END_FB_RGYEAR_DIFF'] = (df_all['RIGHT_END_FB_TIME'] + ':' + df_all['RGYEAR']).apply(timeDiff)

In [23]:
df_all['RIGHT_FIRST_ASK_FIRST_CHANGE_DIFF'] = (df_all['RIGHT_FIRST_ASK_TIME'] + ':' + df_all['FIRST_CHANGE_TIME']).apply(timeDiff)
df_all['RIGHT_FIRST_FB_FIRST_CHANGE_DIFF'] = (df_all['RIGHT_FIRST_FB_TIME'] + ':' + df_all['FIRST_CHANGE_TIME']).apply(timeDiff)

df_all['RIGHT_END_ASK_FIRST_CHANGE_DIFF'] = (df_all['RIGHT_END_ASK_TIME'] + ':' + df_all['FIRST_CHANGE_TIME']).apply(timeDiff)
df_all['RIGHT_END_FB_FIRST_CHANGE_DIFF'] = (df_all['RIGHT_END_FB_TIME'] + ':' + df_all['FIRST_CHANGE_TIME']).apply(timeDiff)

In [24]:
df_all['RIGHT_FIRST_ASK_END_CHANGE_DIFF'] = (df_all['RIGHT_FIRST_ASK_TIME'] + ':' + df_all['END_CHANGE_TIME']).apply(timeDiff)
df_all['RIGHT_FIRST_FB_END_CHANGE_DIFF'] = (df_all['RIGHT_FIRST_FB_TIME'] + ':' + df_all['END_CHANGE_TIME']).apply(timeDiff)

df_all['RIGHT_END_ASK_END_CHANGE_DIFF'] = (df_all['RIGHT_END_ASK_TIME'] + ':' + df_all['END_CHANGE_TIME']).apply(timeDiff)
df_all['RIGHT_END_FB_END_CHANGE_DIFF'] = (df_all['RIGHT_END_FB_TIME'] + ':' + df_all['END_CHANGE_TIME']).apply(timeDiff)

    ---------------------------------------------------------------------------------------------------
    28. 企业权利的个数占所有权利个数平均值的比例。RIGHT_CNT_ALL_RATE
    
    29. 企业对应的大类HY的平均权利的个数，RIGHT_HY_CNT_AVG
    30. 企业对应大类HY的平均权利个数占所有权利平均个数的比例，RIGHT_HY_CNT_ALL_RATE
    31. 企业权利的个数占其对应的大类HY的平均值的比例，RIGHT_CNT_HY_RATE

In [26]:
df_all['RIGHT_CNT_ALL_RATE'] = df_all['RIGHT_CNT'] / df_all['RIGHT_CNT'].mean()

In [27]:
tmp = pd.DataFrame()

tmp['RIGHT_HY_CNT_AVG'] = df_all.groupby(['HY'],as_index=True,axis=0)['RIGHT_CNT'].mean()
tmp['RIGHT_HY_CNT_ALL_RATE'] = tmp['RIGHT_HY_CNT_AVG'] / df_all['RIGHT_CNT'].mean()

tmp['HY'] = tmp.index

df_all = pd.merge(df_all,tmp,how='left',on=['HY'])

In [28]:
df_all['RIGHT_CNT_HY_RATE'] = df_all['RIGHT_CNT'] / df_all['RIGHT_HY_CNT_AVG']

In [29]:
df_all.info()
df_all.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 255130 entries, 0 to 255129
Columns: 138 entries, EID to RIGHT_CNT_HY_RATE
dtypes: float64(88), int64(37), object(13)
memory usage: 270.6+ MB

,EID,RGYEAR,HY,ZCZB,ETYPE,MPNUM,INUM,FINZB,FSTINUM,TZINUM,...,RIGHT_END_ASK_FIRST_CHANGE_DIFF,RIGHT_END_FB_FIRST_CHANGE_DIFF,RIGHT_FIRST_ASK_END_CHANGE_DIFF,RIGHT_FIRST_FB_END_CHANGE_DIFF,RIGHT_END_ASK_END_CHANGE_DIFF,RIGHT_END_FB_END_CHANGE_DIFF,RIGHT_CNT_ALL_RATE,RIGHT_HY_CNT_AVG,RIGHT_HY_CNT_ALL_RATE,RIGHT_CNT_HY_RATE
0,32741,2000-01,87,100.0,7,1.0,3.0,0.0,2.0,0.0,...,5,5,-6,-6,5,5,0.571313,7.014960,0.571313,1.000000
1,294220,2003-01,51,50.0,7,0.0,3.0,0.0,0.0,0.0,...,-124,-94,-124,-104,-124,-94,0.162884,4.423446,0.360254,0.452136
2,10526,2013-01,75,100.0,7,1.0,2.0,0.0,1.0,0.0,...,5,5,-6,-10,5,5,2.533139,31.103584,2.533139,1.000000
3,237382,2014-01,75,9900.0,7,3.0,4.0,0.0,2.0,0.0,...,2,4,2,16,2,4,0.244326,31.103584,2.533139,0.096452
4,473535,2008-01,75,50.0,7,3.0,5.0,0.0,1.0,0.0,...,5,5,-6,-10,5,5,2.533139,31.103584,2.533139,1.000000

In [30]:
# 得到在df_xchange的所有数据，
df_all = df_all.fillna(0)
df_all.to_csv('../data/alldata/df_data12345.csv',index=False,index_label=False)