In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pro_data

# 招聘数据9recruit.csv 提取特征
    1. 企业发布招聘的个数，RECRUIT_CNT
    2. 企业发布招聘平台的个数，RECRUIT_WZCODE_CNT
    3. 企业发布的招聘数量的均值，RECRUIT_RECRNUM_AVG
    
    4. 企业发布的招聘数量的和，RECRUIT_RECRNUM_SUM
    
    5. 企业发布的招聘数量的最多的个数，RECRUIT_RECRNUM_MAX
    6. 企业发布的招聘数量的最少的个数，RECRUIT_RECRNUM_MIN
    7. 企业发布第一个招聘的日期，RECRUIT_FIRST_TIME
    8. 企业发布最后一个招聘的日期，RECRUIT_END_TIME
    
    9. 企业发布最后一个招聘的日期和第一个招聘日期的差值，RECRUIT_END_FIRST_TIME_DIFF
    10. 企业发布最后一个招聘的日期和注册日期的差值，RECRUIT_END_RGYEAR_TIME_DIFF
    
    ---------------------------------------------------------------------------------------
    11. 企业平均一次的招聘几个， RECRUIT_PRE_MONTH_CNT_AVG = RECRUIT_RECRNUM_SUM / RECRUIT_CNT
    12. 企业招聘的个数占所有招聘个数个平均值的比例，RECRUIT_CNT_ALL_RATE
    
    13. 企业对应的大类HY的平均招聘数据的个数，RECRUIT_HY_CNT_AVG
    14. 企业对应大类HY的平均招聘个数占所有招聘平均个数的比例，RECRUIT_HY_CNT_ALL_RATE
    15. 企业招聘的个数占其对应的大类HY的招聘平均值的比例，RECRUIT_CNT_HY_RATE


    16. 企业招聘的数量占所有招聘数量平均值的比例，RECRUIT_RECRNUM_AVG_ALL_RATE
    
    17. 企业对应的大类HY的平均招聘数据的平均，RECRUIT_HY_RECRNUM_AVG_AVG
    18. 企业对应大类HY的平均招聘数量占所有招聘平均数量的比例，RECRUIT_HY_RECRNUM_AVG_ALL_RATE
    19. 企业招聘的数量占其对应的大类HY的招聘数量平均值的比例，RECRUIT_RECRNUM_AVG_HY_RATE


    20. 企业招聘的数量占所有招聘数量平均值的比例，RECRUIT_RECRNUM_SUM_ALL_RATE
    
    21. 企业对应的大类HY的平均招聘数据的平均，RECRUIT_HY_RECRNUM_SUM_AVG
    22. 企业对应大类HY的平均招聘数量占所有招聘平均数量的比例，RECRUIT_HY_RECRNUM_SUM_ALL_RATE
    23. 企业招聘的数量占其对应的大类HY的招聘数量平均值的比例，RECRUIT_RECRNUM_SUM_HY_RATE

In [2]:
df_all = pd.read_csv("../data/alldata/df_data12345678.csv")
df_recruit = pd.read_csv("../data/public/9recruit.csv")

In [3]:
df_all.info()
df_all.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 255130 entries, 0 to 255129
Columns: 194 entries, EID to BREAKFAITH_CNT_HY_RATE
dtypes: float64(119), int64(55), object(20)
memory usage: 377.6+ MB

,EID,RGYEAR,HY,ZCZB,ETYPE,MPNUM,INUM,FINZB,FSTINUM,TZINUM,...,BREAKFAITH_END_RGYEAR_DIFF,BREAKFAITH_FIRST_CHANGE_FIRST_DIFF,BREAKFAITH_END_CHANGE_FIRST_DIFF,BREAKFAITH_FIRST_CHANGE_END_DIFF,BREAKFAITH_END_CHANGE_END_DIFF,BREAKFAITH_PRE_MONTH_CNT,BREAKFAITH_CNT_ALL_RATE,BREAKFAITH_HY_CNT_AVG,BREAKFAITH_HY_CNT_ALL_RATE,BREAKFAITH_CNT_HY_RATE
0,32741,2000-01,87,100.0,7,1.0,3.0,0.0,2.0,0.0,...,0,-182,-182,-182,-182,0.0,0.0,0.007324,0.510965,0.0
1,294220,2003-01,51,50.0,7,0.0,3.0,0.0,0.0,0.0,...,0,-146,-146,-146,-146,0.0,0.0,0.016958,1.183042,0.0
2,10526,2013-01,75,100.0,7,1.0,2.0,0.0,1.0,0.0,...,0,-26,-26,-26,-26,0.0,0.0,0.009002,0.628041,0.0
3,237382,2014-01,75,9900.0,7,3.0,4.0,0.0,2.0,0.0,...,0,-14,-14,-14,-14,0.0,0.0,0.009002,0.628041,0.0
4,473535,2008-01,75,50.0,7,3.0,5.0,0.0,1.0,0.0,...,0,-86,-86,-86,-86,0.0,0.0,0.009002,0.628041,0.0

In [7]:
df_recruit.info()
df_recruit.head()

df_recruit = df_recruit.sort_values(['RECDATE'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31497 entries, 0 to 31496
Data columns (total 4 columns):
EID        31497 non-null int64
WZCODE     31497 non-null object
RECRNUM    24892 non-null float64
RECDATE    31497 non-null object
dtypes: float64(1), int64(1), object(2)
memory usage: 984.4+ KB

In [8]:
df_recruit['RECRNUM'] = df_recruit['RECRNUM'].fillna(df_recruit['RECRNUM'].mean())

In [9]:
EIDS = set(df_recruit['EID'])

print(len(EIDS))

columns = df_recruit.columns
df_xrecruit = pd.DataFrame(columns=columns)

print(columns)

21698
Index(['EID', 'WZCODE', 'RECRNUM', 'RECDATE'], dtype='object')

In [10]:
df_recruit['WZCODE'].value_counts()

ZP02    14890
ZP03    11143
ZP01     5464
Name: WZCODE, dtype: int64

In [11]:
k = 0
for EID in EIDS:
    if k%3000 == 0:
        print('第%d次处理--------->',k)
    k+=1
    tmp = df_recruit[df_recruit['EID'] == EID]
    row = [EID,tmp['WZCODE'].values,tmp['RECRNUM'].values,tmp['RECDATE'].values]
    
    df_xrecruit = df_xrecruit.append(pd.Series(row,columns),ignore_index=True)

第%d次处理---------> 0
第%d次处理---------> 3000
第%d次处理---------> 6000
第%d次处理---------> 9000
第%d次处理---------> 12000
第%d次处理---------> 15000
第%d次处理---------> 18000
第%d次处理---------> 21000

In [12]:
df_xrecruit.info()
df_xrecruit.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21698 entries, 0 to 21697
Data columns (total 4 columns):
EID        21698 non-null float64
WZCODE     21698 non-null object
RECRNUM    21698 non-null object
RECDATE    21698 non-null object
dtypes: float64(1), object(3)
memory usage: 678.1+ KB

,EID,WZCODE,RECRNUM,RECDATE
0,393217.0,[ZP03],[1.0],[2015-03]
1,524290.0,"[ZP01, ZP02, ZP03]","[25.6583239595, 1.0, 2.0]","[2014-09, 2015-03, 2015-03]"
2,163842.0,"[ZP02, ZP03]","[29.0, 4.0]","[2015-06, 2015-08]"
3,458761.0,[ZP02],[1.0],[2015-07]
4,491532.0,[ZP02],[65.0],[2015-06]

In [13]:
df_xrecruit['RECRUIT_CNT'] = df_xrecruit['WZCODE'].apply(lambda x: len(x))
df_xrecruit['RECRUIT_WZCODE_CNT'] = df_xrecruit['WZCODE'].apply(lambda x: len(set(x)))

df_xrecruit['RECRUIT_RECRNUM_AVG'] = df_xrecruit['RECRNUM'].apply(lambda x: np.mean(x))
df_xrecruit['RECRUIT_RECRNUM_SUM'] = df_xrecruit['RECRNUM'].apply(lambda x: sum(x))
df_xrecruit['RECRUIT_RECRNUM_MAX'] = df_xrecruit['RECRNUM'].apply(lambda x: max(x))
df_xrecruit['RECRUIT_RECRNUM_MIN'] = df_xrecruit['RECRNUM'].apply(lambda x: min(x))

def getFirstTIme(x):
    x = list(x)
    x.sort()
    return x[0]

def getEndTIme(x):
    x = list(x)
    x.sort()
    return x[-1]

df_xrecruit['RECRUIT_FIRST_TIME'] = df_xrecruit['RECDATE'].apply(getFirstTIme)
df_xrecruit['RECRUIT_END_TIME'] = df_xrecruit['RECDATE'].apply(getEndTIme)

In [14]:
df_xrecruit.info()
df_xrecruit.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21698 entries, 0 to 21697
Data columns (total 12 columns):
EID                    21698 non-null float64
WZCODE                 21698 non-null object
RECRNUM                21698 non-null object
RECDATE                21698 non-null object
RECRUIT_CNT            21698 non-null int64
RECRUIT_WZCODE_CNT     21698 non-null int64
RECRUIT_RECRNUM_AVG    21698 non-null float64
RECRUIT_RECRNUM_SUM    21698 non-null float64
RECRUIT_RECRNUM_MAX    21698 non-null float64
RECRUIT_RECRNUM_MIN    21698 non-null float64
RECRUIT_FIRST_TIME     21698 non-null object
RECRUIT_END_TIME       21698 non-null object
dtypes: float64(5), int64(2), object(5)
memory usage: 2.0+ MB

,EID,WZCODE,RECRNUM,RECDATE,RECRUIT_CNT,RECRUIT_WZCODE_CNT,RECRUIT_RECRNUM_AVG,RECRUIT_RECRNUM_SUM,RECRUIT_RECRNUM_MAX,RECRUIT_RECRNUM_MIN,RECRUIT_FIRST_TIME,RECRUIT_END_TIME
0,393217.0,[ZP03],[1.0],[2015-03],1,1,1.000000,1.000000,1.000000,1.0,2015-03,2015-03
1,524290.0,"[ZP01, ZP02, ZP03]","[25.6583239595, 1.0, 2.0]","[2014-09, 2015-03, 2015-03]",3,3,9.552775,28.658324,25.658324,1.0,2014-09,2015-03
2,163842.0,"[ZP02, ZP03]","[29.0, 4.0]","[2015-06, 2015-08]",2,2,16.500000,33.000000,29.000000,4.0,2015-06,2015-08
3,458761.0,[ZP02],[1.0],[2015-07],1,1,1.000000,1.000000,1.000000,1.0,2015-07,2015-07
4,491532.0,[ZP02],[65.0],[2015-06],1,1,65.000000,65.000000,65.000000,65.0,2015-06,2015-06

In [15]:
df_xrecruit.to_csv('../data/public/9recruit_1.csv',index=False,index_label=False)
df_xrecruit.columns

Index(['EID', 'WZCODE', 'RECRNUM', 'RECDATE', 'RECRUIT_CNT',
       'RECRUIT_WZCODE_CNT', 'RECRUIT_RECRNUM_AVG', 'RECRUIT_RECRNUM_SUM',
       'RECRUIT_RECRNUM_MAX', 'RECRUIT_RECRNUM_MIN', 'RECRUIT_FIRST_TIME',
       'RECRUIT_END_TIME'],
      dtype='object')

In [16]:
df_all = pd.merge(df_all,df_xrecruit[['EID','RECRUIT_CNT','RECRUIT_WZCODE_CNT', 'RECRUIT_RECRNUM_AVG', 'RECRUIT_RECRNUM_SUM',
                                      'RECRUIT_RECRNUM_MAX', 'RECRUIT_RECRNUM_MIN', 'RECRUIT_FIRST_TIME',
                                      'RECRUIT_END_TIME']],how='left',on=['EID'])

In [17]:
# 空值填充，根据HY的类别的平均值或者众数进行填充
# ['RIGHT_CNT','RIGHT_TYPE_CNT', 'RIGHT_TYPE_RATE']使用同一个大类别的均值进行填充
# ['RIGHT_FIRST_TYPECODE','RIGHT_END_TYPECODE', 'RIGHT_TYPECODE_MUCHID', 'RIGHT_FIRST_ASK_TIME',
#     'RIGHT_FIRST_FB_TIME', 'RIGHT_END_ASK_TIME', 'RIGHT_END_FB_TIME']使用同一个大类别的众数进行填充

HYLIST = set(df_all['HY'])
print(HYLIST)

meanlist = ['RECRUIT_CNT','RECRUIT_WZCODE_CNT', 'RECRUIT_RECRNUM_AVG', 'RECRUIT_RECRNUM_SUM','RECRUIT_RECRNUM_MAX','RECRUIT_RECRNUM_MIN']
modelist = ['RECRUIT_FIRST_TIME','RECRUIT_END_TIME']

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 93}

In [18]:
for HY in HYLIST:
    # print(df_train['HY'].value_counts())
    for d in meanlist:
        df_all.loc[df_all[df_all[d].isnull()][df_all['HY']==HY].index,d] = df_all[df_all['HY']==HY][d].mean()
    
    for c in modelist:
        if(len(df_all[df_all['HY']==HY][c].value_counts().index)==0): continue
        df_all.loc[df_all[df_all[c].isnull()][df_all['HY']==HY].index,c] = df_all[df_all['HY']==HY][c].value_counts().index[0]

/home/xiaoran/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
/home/xiaoran/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:8: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

In [19]:
for d in meanlist:
    df_all.loc[df_all[d].isnull(),d] = 0

for c in modelist:
    df_all.loc[df_all[c].isnull(),c] = df_all[c].value_counts().index[0]

In [20]:
def timeDiff(x):
    a = x[:x.find(':')]
    b = x[x.find(':')+1:]
    y = int(a[:a.find('-')]) - int(b[:b.find('-')])
    m = int(a[a.find('-')+1:]) - int(b[b.find('-')+1:])
    return y * 12 + m


df_all['RECRUIT_END_FIRST_TIME_DIFF'] = (df_all['RECRUIT_END_TIME'] + ':' + df_all['RECRUIT_FIRST_TIME']).apply(timeDiff)
df_all['RECRUIT_END_RGYEAR_TIME_DIFF'] = (df_all['RECRUIT_END_TIME'] + ':' + df_all['RGYEAR']).apply(timeDiff)

---------------------------------------------------------------------------------------
    11. 企业平均一次的招聘几个， RECRUIT_PRE_MONTH_CNT_AVG = RECRUIT_RECRNUM_SUM / RECRUIT_CNT
    12. 企业招聘的个数占所有招聘个数个平均值的比例，RECRUIT_CNT_ALL_RATE
    
    13. 企业对应的大类HY的平均招聘数据的个数，RECRUIT_HY_CNT_AVG
    14. 企业对应大类HY的平均招聘个数占所有招聘平均个数的比例，RECRUIT_HY_CNT_ALL_RATE
    15. 企业招聘的个数占其对应的大类HY的招聘平均值的比例，RECRUIT_CNT_HY_RATE

    RECRUIT_RECRNUM_AVG
    16. 企业招聘的数量占所有招聘数量平均值的比例，RECRUIT_RECRNUM_AVG_ALL_RATE
    
    17. 企业对应的大类HY的平均招聘数据的平均，RECRUIT_HY_RECRNUM_AVG_AVG
    18. 企业对应大类HY的平均招聘数量占所有招聘平均数量的比例，RECRUIT_HY_RECRNUM_AVG_ALL_RATE
    19. 企业招聘的数量占其对应的大类HY的招聘数量平均值的比例，RECRUIT_RECRNUM_AVG_HY_RATE

    RECRUIT_RECRNUM_SUM
    20. 企业招聘的数量占所有招聘数量平均值的比例，RECRUIT_RECRNUM_SUM_ALL_RATE
    
    21. 企业对应的大类HY的平均招聘数据的平均，RECRUIT_HY_RECRNUM_SUM_AVG
    22. 企业对应大类HY的平均招聘数量占所有招聘平均数量的比例，RECRUIT_HY_RECRNUM_SUM_ALL_RATE
    23. 企业招聘的数量占其对应的大类HY的招聘数量平均值的比例，RECRUIT_RECRNUM_SUM_HY_RATE

In [22]:
df_all['RECRUIT_PRE_MONTH_CNT_AVG'] = df_all['RECRUIT_RECRNUM_SUM'] / df_all['RECRUIT_CNT']
df_all['RECRUIT_CNT_ALL_RATE'] = df_all['RECRUIT_CNT'] / df_all['RECRUIT_CNT'].mean()

df_all['RECRUIT_RECRNUM_AVG_ALL_RATE'] = df_all['RECRUIT_RECRNUM_AVG'] / df_all['RECRUIT_RECRNUM_AVG'].mean()
df_all['RECRUIT_RECRNUM_SUM_ALL_RATE'] = df_all['RECRUIT_RECRNUM_SUM'] / df_all['RECRUIT_RECRNUM_SUM'].mean()

In [23]:

tmp = pd.DataFrame()

tmp['RECRUIT_HY_CNT_AVG'] = df_all.groupby(['HY'],as_index=True,axis=0)['RECRUIT_CNT'].mean()
tmp['RECRUIT_HY_CNT_ALL_RATE'] = tmp['RECRUIT_HY_CNT_AVG'] / df_all['RECRUIT_CNT'].mean()

tmp['RECRUIT_HY_RECRNUM_AVG_AVG'] = df_all.groupby(['HY'],as_index=True,axis=0)['RECRUIT_RECRNUM_AVG'].mean()
tmp['RECRUIT_HY_RECRNUM_AVG_ALL_RATE'] = tmp['RECRUIT_HY_RECRNUM_AVG_AVG'] / df_all['RECRUIT_RECRNUM_AVG'].mean()

tmp['RECRUIT_HY_RECRNUM_SUM_AVG'] = df_all.groupby(['HY'],as_index=True,axis=0)['RECRUIT_RECRNUM_SUM'].mean()
tmp['RECRUIT_HY_RECRNUM_SUM_ALL_RATE'] = tmp['RECRUIT_HY_RECRNUM_SUM_AVG'] / df_all['RECRUIT_RECRNUM_SUM'].mean()


tmp['HY'] = tmp.index

df_all = pd.merge(df_all,tmp,how='left',on=['HY'])

In [24]:
df_all['RECRUIT_CNT_HY_RATE'] = df_all['RECRUIT_CNT'] / df_all['RECRUIT_HY_CNT_AVG']

df_all['RECRUIT_RECRNUM_AVG_HY_RATE'] = df_all['RECRUIT_RECRNUM_AVG'] / df_all['RECRUIT_HY_RECRNUM_AVG_AVG']

df_all['RECRUIT_RECRNUM_SUM_HY_RATE'] = df_all['RECRUIT_RECRNUM_SUM'] / df_all['RECRUIT_HY_RECRNUM_SUM_AVG']

In [26]:
# df_all.info()
df_all.head()

,EID,RGYEAR,HY,ZCZB,ETYPE,MPNUM,INUM,FINZB,FSTINUM,TZINUM,...,RECRUIT_RECRNUM_SUM_ALL_RATE,RECRUIT_HY_CNT_AVG,RECRUIT_HY_CNT_ALL_RATE,RECRUIT_HY_RECRNUM_AVG_AVG,RECRUIT_HY_RECRNUM_AVG_ALL_RATE,RECRUIT_HY_RECRNUM_SUM_AVG,RECRUIT_HY_RECRNUM_SUM_ALL_RATE,RECRUIT_CNT_HY_RATE,RECRUIT_RECRNUM_AVG_HY_RATE,RECRUIT_RECRNUM_SUM_HY_RATE
0,32741,2000-01,87,100.0,7,1.0,3.0,0.0,2.0,0.0,...,0.916616,1.347780,0.948013,21.686580,0.970677,31.917034,0.916616,1.0,1.0,1.0
1,294220,2003-01,51,50.0,7,0.0,3.0,0.0,0.0,0.0,...,0.830936,1.349887,0.949495,20.295759,0.908425,28.933608,0.830936,1.0,1.0,1.0
2,10526,2013-01,75,100.0,7,1.0,2.0,0.0,1.0,0.0,...,1.042778,1.509529,1.061785,21.546885,0.964424,36.310029,1.042778,1.0,1.0,1.0
3,237382,2014-01,75,9900.0,7,3.0,4.0,0.0,2.0,0.0,...,1.042778,1.509529,1.061785,21.546885,0.964424,36.310029,1.042778,1.0,1.0,1.0
4,473535,2008-01,75,50.0,7,3.0,5.0,0.0,1.0,0.0,...,1.042778,1.509529,1.061785,21.546885,0.964424,36.310029,1.042778,1.0,1.0,1.0

In [27]:
# 得到在df_xchange的所有数据，
df_all = df_all.fillna(0)
df_all.to_csv('../data/alldata/df_data123456789.csv',index=False,index_label=False)